@import "mixins";

.header-menu {
    background-color: #000;
    width: 100%;
}

.header-wrapper {
    @include max-width-wrapper; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    img {
        width: 132px;
        height: 42px;
    }
}

.menu {

    ul{
        display: flex;
        flex-direction: row;
        color: #fff;
        list-style: none;
        gap: 2rem;
        font-weight: 700;
       

        li:nth-child(4n) {
            width: 1px;
            height: auto;
            background-color: #fff;
        }

        li a:hover {
            color: #57D761;
        }
    }

    .toggle {
        width: 1.375rem;
        background: transparent;
        border: none;
        height: 100%;
        padding: 0;

        display: none;
        flex-direction: column;
        gap: 0.3rem;

        :is(.line-1, .line-2, .line-3) {
            content: " ";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            margin: 0;
            transition-duration: 0.2s;
        }
    }

}

.menu.on {
    .toggle {
        .line-1 {
            transform: rotate(-45deg) translateX(-5px);
        }

        .line-2 {
            display: none;
        }

        .line-3 {
            transform: rotate(45deg) translateX(-5px);
        }


    }
}