@mixin max-width-wrapper {
    max-width: 74rem;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@mixin  btn-base {
    padding: 1rem 2rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 900;
    height: 100%;

    text-align: center;

    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;

    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;

    display: inline-block;

    position: relative;

    &:hover {
        transform: scale(105%)
    }

    &:active {
        outline: 3px solid #0B0909;
        outline-offset: 3px;
    }
}