* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body, input, textarea, button {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1, h2 {
  letter-spacing: -1px;
}

a {
  color: #fff;
  text-decoration: none;
}

.header-menu {
  background-color: #000;
  width: 100%;
}

.header-wrapper {
  max-width: 74rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.header-wrapper img {
  width: 132px;
  height: 42px;
}

.menu ul {
  display: flex;
  flex-direction: row;
  color: #fff;
  list-style: none;
  gap: 2rem;
  font-weight: 700;
}
.menu ul li:nth-child(4n) {
  width: 1px;
  height: auto;
  background-color: #fff;
}
.menu ul li a:hover {
  color: #57D761;
}
.menu .toggle {
  width: 1.375rem;
  background: transparent;
  border: none;
  height: 100%;
  padding: 0;
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  position: absolute;
  right: 2.5rem;
  top: 1.25rem;
  z-index: 3;
}
.menu .toggle :is(.line-1, .line-2, .line-3) {
  content: " ";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 0;
  transition-duration: 0.2s;
}

.menu.on .toggle .line-1 {
  transform: rotate(-45deg) translateX(-5px);
}
.menu.on .toggle .line-2 {
  display: none;
}
.menu.on .toggle .line-3 {
  transform: rotate(45deg) translateX(-5px);
}
.menu.on .menu-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: end;
}
.menu.on .menu-wrapper ul {
  height: 100vh;
  width: 25rem;
  background-color: #000;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
}
.menu.on .menu-wrapper ul li {
  font-size: 2.25rem;
}
.menu.on .menu-wrapper ul li:nth-child(4n) {
  width: 1.5rem;
  height: 2px;
  color: #fff;
}
.menu.on .menu-wrapper ul li:nth-child(5n), .menu.on .menu-wrapper ul li:last-child {
  font-weight: normal;
  font-size: 1.75rem;
  color: #d9dadc;
}

.card-header {
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card-header p {
  line-height: 22px;
  margin-bottom: 0.3rem;
  font-size: 0.875rem;
}

.mounth-free {
  display: block;
  color: #fff;
  background-color: #0F74EA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 0.6rem;
}

.payment {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #0F74EA;
  border-radius: 4px;
  color: #0F74EA;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 4px 8px;
  margin-bottom: 0.6rem;
}

.card-content {
  background-color: #fff;
  box-shadow: 0px -9px 0px rgb(255, 255, 255), 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
}
.card-content hr {
  border-color: #CCCCCC;
}
.card-content ul {
  list-style: none;
  margin-top: 1rem;
}
.card-content ul li {
  margin-bottom: 0.5rem;
  display: flex;
}
.card-content ul li i {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 4px;
}

.card-btn {
  background-color: #fff;
  box-shadow: 0px -9px 0px rgb(255, 255, 255), 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.card-btn .btn-start {
  width: 100%;
}

.card-footer {
  background-color: #fff;
  box-shadow: 0px -9px 0px rgb(255, 255, 255), 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.card-footer p {
  padding: 0 1rem 1rem;
  color: rgb(83, 83, 83);
  font-size: 0.75rem;
  font-weight: 500;
}

.footer {
  background-color: #000;
}

.nav-footer {
  max-width: 74rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  padding: 4rem 1rem;
  flex-wrap: wrap;
}
.nav-footer .logo-wrapper {
  padding: 0 3rem;
}
.nav-footer .logo-wrapper img {
  width: 143px;
  height: auto;
}
.nav-footer ul li a {
  color: #fff;
}
.nav-footer ul li a:hover {
  color: #57D761;
}
.nav-footer .links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-footer .links p {
  color: #909395;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.nav-footer .links ul li {
  margin-bottom: 1.5rem;
}
.nav-footer .social {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
}
.nav-footer .social ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.nav-footer .social ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #222326;
  border-radius: 50%;
}

.campaign {
  background-color: #1E75DE;
  height: 23rem;
}
.campaign article {
  max-width: 74rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.campaign article h1 {
  margin-top: 5rem;
  color: #fff;
  font-size: 2.5rem;
}
.campaign article h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.campaign article p {
  font-size: 0.75rem;
  color: #fff;
  margin-bottom: 3rem;
}

.btn-start {
  padding: 1rem 2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 900;
  height: 100%;
  text-align: center;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  display: inline-block;
  position: relative;
  background-color: #191414;
  margin-right: 0.5rem;
}
.btn-start:hover {
  transform: scale(105%);
}
.btn-start:active {
  outline: 3px solid #0B0909;
  outline-offset: 3px;
}
.btn-start:hover {
  background-color: #0B0909;
}

.btn-see-plans {
  padding: 1rem 2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 900;
  height: 100%;
  text-align: center;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: 2px solid #fff;
}
.btn-see-plans:hover {
  transform: scale(105%);
}
.btn-see-plans:active {
  outline: 3px solid #0B0909;
  outline-offset: 3px;
}

.premium article {
  max-width: 74rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding: 6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.premium h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 5rem;
}
.premium ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
}
.premium ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  color: #000;
  font-weight: 500;
}
.premium ul li img {
  width: 8.875rem;
  height: 8.875rem;
}
.premium ul li div p:first-child {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.plans {
  background-color: #EFEFEF;
}
.plans article {
  max-width: 74rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 1rem;
}
.plans article header {
  text-align: center;
  margin-bottom: 2.5rem;
}
.plans article header h2 {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.plans article header h3 {
  font-weight: 500;
  font-size: 1rem;
}

.card-plans {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
}

@media (max-width: 1024px) {
  .header-wrapper, .campaign article, .premium article, .plans article, .nav-footer {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .premium article ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5rem;
  }
  .premium article ul li {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 1rem;
    justify-content: start;
  }
  .premium article ul li img {
    width: 6.25rem;
    height: auto;
  }
  .card-plans {
    display: block;
  }
  .card-plans .card-header, .card-plans .card-content, .card-plans .card-btn, .card-plans .card-footer {
    width: 27.5rem;
  }
  .card-plans .card-footer {
    margin-bottom: 1.5rem;
  }
  .card-plans .mounth-free, .card-plans .payment {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .header-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header-wrapper img {
    width: 5.5rem;
    height: auto;
  }
  .header-wrapper nav ul {
    display: none;
  }
  .header-wrapper nav .toggle {
    display: flex;
  }
  .nav-footer {
    display: flex;
    flex-direction: column;
  }
  .nav-footer .logo-wrapper {
    padding: 0;
    margin-bottom: 5rem;
  }
  .nav-footer .logo-wrapper img {
    width: 5.5rem;
    height: auto;
  }
  .nav-footer .links {
    width: 100%;
  }
  .nav-footer .social {
    margin-top: 5rem;
    align-items: start;
  }
}/*# sourceMappingURL=main.css.map */